@charset "UTF-8";
/* CSS Document */
body {
  background: "white";
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
#header {
  width: 87.8%;
  height: 84px;
  border-width: 2.51px;
  border-color: #000000;
  border-style: solid;
  background-color: #ffffff;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 15px;
  flex: 1 87.8% auto;
  display: inline-block;
text-align: center;
}
h1.head {
  
  font-family: "Arial Black";
  color: #000000;
  line-height: .8;
  padding-left: 20px;
  flex-wrap: nowrap;
}
h3 {
  font-family: "Arial Black";
  color: #ffffff;
  font-style: none;

}
#centersketch {
  width: 85.18%;
  height: 900px;
  border-width: 2.51px;
  border-color: #000000;
  border-style: solid;
  background-color: #ffffff;
  margin: auto;
  margin-bottom: 20px;
  flex: 1 87.8% auto;
  padding-top: 20px;
  padding-left: 20px;
  justify-content: center;
  padding-right: 20px;
}

#inputs {
  width: 85.18%;
  height: 8000px;
  border-width: 2.51px;
  border-color: #000000;
  border-style: solid;
  background-color: #ffffff;
  margin: auto;
  margin-bottom: 20px;
  flex: 1 87.8% auto;
  padding-top: 20px;
  padding-left: 20px;
  justify-content: center;
  padding-right: 20px;
}
#constantinputs {
  width: 85.18%;
  height: 100px;
  border-width: 2.51px;
  border-color: #000000;
  border-style: solid;
  background-color: #ffffff;
  margin: auto;
  margin-bottom: 20px;
  flex: 1 87.8% auto;
  padding-top: 20px;
  padding-left: 20px;
  justify-content: center;
  padding-right: 20px;

}

.foot {
  height: 150px;
  background-color: #b2b2b2;
  flex-shrink: 0;
  text-align: center;
  align-content: center;
}


#foottext {
  justify-content: center;
  text-align: center;
  width: auto;
}
.foo {
  font-family: Arial;
  color: #ffffff;
  font-style: italic;
  text-decoration: none;
}

.input {   
    height: 20px;
    position: relative;
    left: 0;
	margin-top: 20px;
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: #b2b2b2;
    background-color: white;
    font-size: 16px;
}

.slider {
  -webkit-appearance: none;  
  appearance: none;
  width: 33%; 
  height: 20px; 
	border-radius: 5px;  
  background: #b2b2b2; 
  outline: none;
 
 /* -webkit-transition: .2s; */
  transition: opacity .2s;
text-align: center;
}	

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: black;
  cursor: pointer;
}

#slide1 {
	width: 100%;
}

#box1 {
	display: flex;
	flex-direction: row;
}

#in1 {
	flex-grow: 1;
	justify-content: center;
	
}

#in2 {
	flex-grow: 1;
	justify-content: center;
	
}
#in3 {
	flex-grow: 1;
	justify-content: center;
	
}

.links {target: _blank;
	
	 font-family: Arial;
  color: #000000;
font-size: 20px;
	text-decoration: none;

}

.text {font-family: Arial;
  color: #000000;
	font-size: 20px;
}